{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} Main {% endblock %} - Adboard</title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css"
        href="{% static 'main/style.css' %}">
        {% bootstrap_javascript jquery='slim' %}
    </head>
    <body class="container-fluid">
        <header class="mb-4">
            <h1 class="display-1 text-center">Ads</h1>
        </header>
        <div class="row">
            <ul class="col nav justify-content-end border">
                <li class="nav-item">
                    <a class="nav-link" href="#">Registration</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="#"
                    role="button" aria-haspopup="true"
                    aria-expanded="false">Profile</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My ads</a>
                        <a class="dropdown-item" href="#">Change personal data</a>
                        <a class="dropdown-item" href="#">Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Quit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Delete</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quit</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <nav class="col-md-auto nav flex-column border">
                <a class="nav-link root"
                href="{% url 'main:index' %}">Main</a>
                <span class="nav-link root font-weight-bold">Property</span>
                <a class="nav-link" href="#">House</a>
                <a class="nav-link" href="#">Warehouses</a>
                <a class="nav-link" href="#">Garages</a>
                <span class="nav-link root font-weight-bold" href="#">Transport</span>
                <a class="nav-link" href="#">Passenger</a>
                <a class="nav-link" href="#">Freight</a>
                <a class="nav-link root" href="{% url 'main:other' page='about' %}">About site</a>
            </nav>
            <section class="col border py-2">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
            </section>
        </div>
        <footer class="mt-3">
            <p class="text-right font-italic">&copy: readers, 2018</p>
        </footer>
    </body>
</html>